.body{
    font-size:24px;
}

.logo {
    margin: 2% 2% 2%;
    display: flex;
}
.logo h2 {
    margin-left:2rem;
    line-height: 1.5;
    font-family: Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
}

.icons {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

article > section > h2 h3 {
    line-height: 1.5;
    font-family: Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
}

p {
    margin-left: 1rem;
    font-size: 26px;
    font-family: Arial,sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #333;
}

a {
    text-decoration: none;
}
#knowit a {
    text-decoration: none;
    margin-left: 1rem;
    font-size: 26px;
    font-family: Arial,sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #333;
    cursor: pointer}

#knowit a:hover  {
    color: deeppink;
     }



nav {
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

}

nav a {
    color: #333;
    font-size: 1.5rem;
    font-family: Arial,sans-serif;
    font-style: normal;
    line-height: 1.5;
    margin: 0 1.5rem 2rem;
}

nav a:hover {
    font-weight: bold;
}

main{
    padding: 0 20%;
    margin-bottom: 20%;
}


#prosjektBeskrivelse{
    margin-bottom: 2rem;
    border-bottom: 1px solid #333;
}

#omOss-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid #333;
}

.visittkort {
    margin: 0 3rem 2rem;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1rem;
}

footer {
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dbeede;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer p{
    display: flex;
    margin-right: 15rem;
}

#footer img{
    margin-top:75%;
    transform: rotate(90deg);
}


/* kontakt.html */

#contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-left: 1rem;
    font-size: 26px;
    font-family: Arial,sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #333;
}

#contact-form input{
  height: 2.5rem;
    font-size: 26px;
    font-family: Arial,sans-serif;
    font-style: normal;
    line-height: 1.5;
    padding-left: 1rem;
}

#contact-form textarea{
    font-size: 26px;
    font-family: Arial,sans-serif;
    font-style: normal;
    line-height: 1.5;
    padding-left: 1rem;
}



